html,
body {
	min-height: 100%;
	margin: 0;
}

body {
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.main-container {
	display: flex;
	gap: 3rem;
	margin-left: 5rem;
	height: calc(100vh - 7rem);
}

.container {
	margin: 1.5rem 0;
	padding: 0 3rem;
	box-sizing: border-box;
	height: 100%;
	border-radius: 25px;
}

.left-side {
	background: #232323;
	width: 30rem;
	overflow: auto;
	padding-bottom: 1rem;
}

.results-logs {
	overflow: hidden;
	box-shadow: 0 0 1.25rem -0.375rem #d3d3d3;
	width: calc(100% - 40rem);
	padding-right: 1rem;
	color: #454545;
}

ul {
	height: calc(100% - 7rem);
	overflow: auto;
	list-style: none;
}

li {
	background: #ffffff91;
	display: flex;
	width: 95%;
	padding: 1rem;
	border-radius: 12px;
	box-sizing: border-box;
	margin: 0.8rem 0 0;
	justify-content: space-between;
	align-items: center;
}

.details-container {
	display: flex;
	align-items: center;
	gap: 3rem;
	width: 90%;
}

.details-container span {
	width: 10rem;
}

pre {
	background: #d3d3d378;
	padding: 1rem;
	width: calc(100% - 12rem);
}

input {
	width: 90%;
	background: #f7f7f7;
	padding: 1rem;
	border-radius: 12px;
	margin: 0.4rem auto 0;
	border: none;
}

input:focus-visible {
	outline: none;
}

#app h1 {
	color: #eff0f1;
}

form {
	display: flex;
	flex-direction: column;
	height: calc(100% - 10rem);
	min-height: fit-content;
	justify-content: space-between;
}

button {
	width: fit-content;
	margin: 2rem 0 0 auto;
	background: #ffd446;
	padding: 0.5rem 1.5rem;
	border: none;
	border-radius: 5px;
	color: #3a3a3a;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 16px;
}

#message-button {
	margin-top: 1rem;
	float: right;
	background: #d3d3d3;
}

.logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #252525;
	padding: 1rem;
	width: fit-content;
}

.logo img {
	height: 35px;
}

.logo-txt {
	padding-left: 7px;
	display: flex;
	flex-direction: column;
	color: #252525;
}

.logo-txt h1,
.logo-txt span {
	margin: 0;
	padding: 0;
	line-height: 1;
	letter-spacing: 4px;
	text-align: start;
}

.logo-txt h1 {
	font-weight: bolder;
	font-size: 1.1rem;
	margin-top: 2px;
}

.logo-txt span {
	font-weight: lighter;
	font-size: 0.85rem;
}

::-webkit-scrollbar {
	height: 0.563rem;
	width: 0.563rem;
}

::-webkit-scrollbar-thumb {
	background: #d3d3d3;
	width: 0.563rem;
}

::-webkit-scrollbar-track {
	background: transparent;
	width: 0.563rem;
}

::-webkit-scrollbar-corner {
	background: transparent;
}
